@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* //height: 100vh; */
}
body {
  background: #124;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}
.content {
  height: 0vh;
}

#mainPage {
  /* //display: 100%; */
  /* //margin: 10% 10% 10% 10%; */
  /* //width: 50%; */
  border: 3px solid green;
  /* //padding: 50%; */
  height: 100vh;
  justify-content: center;
  /* //margin-top: 100px; */
  text-align: center;
  padding-top: 45vh;
}

#contactus {
  border: 3px solid green;
  /* //padding: 50%; */
  height: 100vh;
  justify-content: center;
  /* //margin-top: 100px; */
  text-align: center;
  padding-top: 45vh;
}
#welcomepad {
    padding-top: 2px;
}
#welcbox {
    border: 3px solid green;
}

section {
  min-height: 100vh;
  width: 100%;
  /* //background: #eeeceb; */
  background: #124;
  /* //height: 100vh; */
}
section {
  position: fixed;
  /* //background: #111111; */
  width: 100%;
  bottom: 0;
  left: 0;
  display: #124;
}
section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}
section .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
section .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.link-boxes {
  margin-left: 2.8rem;
}

section .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 160px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 70px);
  outline: none;
  border: 2px solid #afafb6;
  background: #111111;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.box {
  line-height: 1.6rem;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.input-field:focus,
.input-field:not(:placeholder-shown).input-field:not(:focus) {
  transform: translate(-6px, -6px);
  padding: 28px 18px 18px;
  animation: input-animation 0.5s;
}
@keyframes input-animation {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-7px, -7px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #232323;
  border: 2px double #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.248) 0px 7px 5px 0px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
  box-shadow: rgba(253, 253, 253, 0.063) 0px 7px 29px 0px;
  background: #fff;
  color: #232323;
}
footer .bottom-details {
  width: 100%;
  background: #111111;
  margin-top: 94vh;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  /* //margin: auto; */
  margin-top: 94vh;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  /* //margin-top: 94vh; */
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
  .box {
    margin-bottom: 1rem;
  }
  .link-boxes {
    margin-left: 2rem;
  }
}
 /* .policy_terms {
   // margin-left: 2rem; }
} */