* {
margin: 0px;
font-family: 'Oswald', sans-serif;
max-width: 100%;
}

body {
    background-color: rgb(251, 239, 224);
}
/* .nav-bar {
    position: fixed;
    display: inline-block;
    margin: 0px;
} */
header {
    position: fixed;
    width: 100%;
    z-index: 13;
}
nav {
    margin: 0;
    padding: 20px 0px 20px 17%;
    background-color: rgb(251, 239, 224);
    border-bottom: 2px solid bisque;
    word-spacing: 3px;
  }
  nav input {
    border-radius: 5px;
    color: #5d0606;
    background-color: rgb(251, 239, 224);

  }

  nav #dropdown {
    display: inline-block;
    width: 80px;
    border-radius: 5px;
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #5d0606;
    font-weight: bold;
    background-color: rgb(251, 239, 224);

  }

 .selinput {
    float: right;
    /* display: inline-block; */
    margin-right: 12%;
 }


  nav a {
    color: #5d0606;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(251, 239, 224);

  }

  .items {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    background-color: rgb(251, 239, 224);
    position: absolute;
    top: 60px;
    height: 30vh;
  }
  .items a {
    color: #5d0606;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  .burgbanner {
    height: 100vh;
    background-color: rgb(251, 239, 224);
    z-index: 10;
}

.banner {
    position: relative;
    top: 120px;
    /* height: auto; */
    /* max-width: 100%; */
    z-index: 11;
    /* border-bottom: 2px solid rgb(251, 239, 224); */
}

.info {
    height: 100vh;
    max-width: 100%;
    background-color: rgb(251, 239, 224);
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 20px;
    align-items: center;
    z-index: 14;
}

.info div {
   display: inline-block;
   overflow: scroll;
   
    margin: 5vh 2vh; 
}

.info #chick-burg {
    background-image: url(https://cdn.wallpapersafari.com/98/73/1H6TlN.jpg);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
}
.info #chick-burg>h2 {
    color: red;
    text-align: center;
    font-weight: larger;
    font-size: 120px;
    padding-bottom: 10px;
}

.info #locations {
    background-image: url(https://www.burgerking.ee/images/optimized/pages/index/BK-banners-middle-2-et@2x-retina-52c715c35b0609a540cd3f101275827b.jpeg);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 20px;
}

.info #locations h2 {
    color: #4a2c2a;
    text-align: center;
    font-size: 60px;
}

.info #social-media {
    background-image: url(https://thumbs.dreamstime.com/b/new-instagram-camera-logo-icon-vector-modern-gradient-orange-gold-design-illustrations-white-background-ai-138902752.jpg);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
}

.info #social-media h2 {
    color: rgb(255, 55, 0);
    text-align: center;
    font-size: 70px;
}
.info #king-meal {
    background-image: url(https://burgerking.com.cy/sites/default/files/19112-003-Kids_Banner_King_JR_1000x550px_5b1_5d.jpg);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
}

.info #king-meal h3 {
    color: orange;
    text-align: end;
    font-size: 40px;
}

.info #king-meal h3 span {
    color: lightsalmon;
}
.info #process {
    background-image: url(https://c8.alamy.com/comp/EJF5JE/b-b-q-barbecue-burgers-or-hamburgers-being-cooked-on-a-flaming-barbecue-EJF5JE.jpg);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
}

.info #process h3, .info #job-offer h3 {
    text-align: center;
    font-size: 50px;
    color:rgb(255, 132, 0);
    font-weight: 900;
}

.info #process h3 span {
    font-size: 35px;
    color: white;
}

.info #process button {
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bold;
    /* font-size: 15px; */
    height: 50px;
    width: 150px;
    border-radius: 6px;
    border-style: none;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
}
.info #job-offer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVcQDONdcQdAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    background-size: cover;
    height: 40vh;
    width: 50vh;
    background-position: center center;
    border-radius: 5px;
}

.info #job-offer h3 span {
    color: white;
    font-size: 20px;
}

.info #job-offer button {
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    height: 50px;
    width: 150px;
    border-radius: 6px;
    border-style: none;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20%;
}

#footer {
    background-color: #4a2c2a;
    border: 6px ridge #4a2c2a;
    color: rgb(251, 239, 224);
    padding: 5% 5%;
    max-width: 100%;
  }

  #footer .container {
    display: inline-block;
    justify-content: space-between;
    padding: 0px 30px;
  }

  .container li {
    list-style-type: none;
    list-style-position: inside;
    -webkit-padding-start: 0;
  }

  .container ul {
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
  }

  footer .remarks {
    margin-top: 100px;
  }

  footer .remarks h3 {
    font-weight: 5000;
  }

  footer h5 {
    font-size: 20px;
  }
